<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank_details</title>
</head>
<body>
    <center>
        <h1 style="color: blue;">BANKS NAMES</h1>
        <table border="2px" cellpadding="5px" cellspacing="0px">
            <tr>
                <th>Bank Names</th>
            </tr>
            {% for b in BOD %}
                <tr>
                    <td>{{b.bank_name}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>